body{
    font: 15px/1.5 arial, helvetica, san-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;

}

#showcase{
    min-height: 400px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
    border-top: #16a085 solid;
    border-bottom: #16a085 solid;
}

#showcase h1{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    background: #e8491d;
    color: #f4f4f4;
}

#main .container #searchBox{
    margin-bottom: 10px;
    text-align: right;
}

.tableFixHead{
    overflow-y: auto;
    height: 700px;
}

#myInput{
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    border: #16a085 1px solid;
}

.tableFixHead thead th{
    position: sticky;
    top: 0;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

th,
td{
    padding: 8px 16px;
    border: 1px solid #ccc;
}

th{
    background: #16a085;
    color: #fff;
}

tr:nth-child(even){
    background: #fff;
}

footer{
    text-align: center;
    height: 40px;
    background: #16a085;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
